{% extends "base.html" %}
{% load staticfiles %}
{% block metadescription %}
{% if category %}
  {{ category.description | truncatewords:155 }}
{% else %}
  Welcome to Poofy Paradise, a haven for pillows of all kinds.
{% endif %}
{% endblock %}
{% block title %}
{% if category %}
  {{ category.name }} - Poofy Paradise Store
{% else %}
  See Our Pillow Collection - Poof Paradise Store
{% endif %}
{% endblock %}

{% block content %}

  {% if category %}
  <div>
    <div>
      <p><a href="{% url 'shop:allProdCat' %}">Our Product Collection</a> | {{category.name}} </p>
    </div>
  </div>
  {% endif %}
  <div>
    {% if category %}
      <img src="{{category.image.url}}" alt="{{category.name}}">
  </div>
  <br>
  <div>
    <h1>{{category.name}}</h1>
    <p>{{category.description}}</p>
    </div>
    <div>
    {% else %}
      <img src="{% static 'img/banner.jpg' %}" alt="Our Products Collection">
    </div>
    <br>
    <div>
      <h1>Our Collection of Pillows:</h1>
      <p>Choose any of our selection of pillows. They are made of either high quality cotton or polyester, and can serve to make your moments of rest more immersing or to simply add to the theme of your home.</p>
    </div>
    {% endif %}
    <div>
      <div>
        {% for product in products %}
          <div>
            <div>
              <a href=""><img src="{{product.image.url}}" alt="{{product.name}}"></a>
              <div>
                <h4>{{product.name}}</h4>
                <p> ${{product.price}}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
{% endblock %}